.landing {
    background-image: url("../../../public/imgs/BG-1.png");
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: calc(100vh - 85px);
}

.landing .content h1 {
    color: #2B2B2B;
    font-size: 45px;
}

.landing .content h2 {
    color: rgba(42, 42, 41, 0.5);
    font-size: 38px;
    letter-spacing: 13%;
}

.landing .content p:nth-child(1) {
    color: #2B2B2B;
}

.landing .content p:nth-child(2) {
    color: #2C2C2C;
}

.landing .content p:nth-child(3) {
    color: #2A2A29;
}

.landing .content button {
    background-color: #2A2A29;
    color: #ffffff;
    font-size: 24px;
}

.landing .figure img {
    width: 331px;
    height: 288px;
}