.contact {
    /* background-color: #2c4755; */
    background-color: #1c2331;
    color: white;
}

.contact .social-media {
    background-color: #6351ce;
}

@media (max-width:767px) {
    .contact .social-media {
        flex-direction: column;
    }
}

hr {
    width: 60px;
    background-color: #7c4dff;
    height: 2px
}

.contact a {
    text-decoration: none;
    transition: 0.4s;
    color: rgba(255, 255, 255, 0.63);
}
.contact a:hover {
    color: rgba(255, 255, 255, 0.63) !important;
}

.contact h4 {
    color: #ffffff;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.contact h4::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* color: #d9d9d9; */
    width: calc(100% + 40px);
    height: 3px;
    background-image: linear-gradient(to right, #6FBECA, #D8736C);
}