.img-logo {
    padding: 0;
}

.img-logo img {
    width: 100px;
    max-height: 75px;
}

.navbar .navbar-toggler {
    border: none;
    font-size: 30px;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

@media (max-width:991px) {
    .dropdown-menu {
        width: fit-content;
    }
}

.offcanvas.offcanvas-start {
    width: 30vw !important;
}

@media (max-width: 768px) {
    .offcanvas.offcanvas-start {
        width: 50vw !important;
    }
}