:root {
  --green: #33d1cc;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.main-title {
  width: fit-content;
}

.main-title::after {
  content: '';
  width: 120px;
  height: 2px;
  background-color: var(--green);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

h2,
h3 {
  position: relative;
  color: rgba(0, 0, 0, 0.5);
}

h2::before,
h3::before {
  content: attr(data-text);
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  display: inline-block;
  overflow: hidden;
  transition: 0.5s;
  white-space: nowrap;
}

h2:hover::before,
h3:hover::before {
  width: 100%;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

.card {
  transition: 0.4s;
}

.card:hover {
  transform: scale(1.1);
}

::selection {
  user-select: none;
}